.logout{
    font-size: 80%;
    color: black;
    text-decoration: underline;
    /*text-transform: none;*/
}

.icons {
    max-width: 50px;
}

.row{
    background-color: lightgray;
    padding:10px;
}

.listcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}