.row{
    margin:2%;
}

.login{
    color: black;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    .login{
        color: ghostwhite;
        text-decoration: underline;
    }
}
