.logo {
    position: relative;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.name {
    color: white;
    padding-bottom: 5px;
}

.flexbox {
    padding: 25px 25px 0px 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.logokookboek {
    width: 50px;
    height: auto;
}