.username {
    font-size: 80%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin: 10px 0 0 0;
}

p.sender {
    background-color: var(--ion-color-tertiary);
    color: #fff;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px 5px 0;
    display: inline-block;
}

p.receiver {
    background-color: var(--ion-color-secondary);
    text-align: left;
    color: #fff;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0 5px 10px;
    display: inline-block;
}

.messagec{
    text-align: right;
}

.messagesx{
    text-align: left;
}
