.username {
    padding: 0 !important;
    border-radius: 0 !important;
    font-size: 80%;
}

.message {
    white-space: pre-wrap;
}

p {
    padding: 10px;
    border-radius: 10px;
}

p.sender {
    background-color: var(--ion-color-tertiary);
    color: #fff;
}

p.receiver {
    background-color: var(--ion-color-secondary);
    text-align: left;
    color: #fff;
}